.primary,
.secondary {
  cursor: pointer;
  border: none;
  min-width: 100px;
  height: 36px;
  line-height: 36px;
  border-radius: 8px;
  &[disabled] {
    background: #bebebe;
    color: #d6d6d6;
  }
}

.primary {
  color: white;
  background: #58a4b0;
}

.secondary {
  background: white;
  color: #58a4b0;
}